<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <title>Main</title>
        <link rel="stylesheet" th:href="@{styles.css}">
    </head>
    <body>
        <h1>Main Page</h1>
        <a href="/saveEquation">Add equation</a><br>
        <a href="/processEquation">Process equation</a><br>
        <a href="/findEquationsWithSingleRoot">Find equations with a single root</a><br>
        <a href="/findEquationsByRoots">Find equations by entered root</a>
    </body>
</html>