<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <title>Processing Equation</title>
        <link rel="stylesheet" th:href="@{styles.css}">
    </head>
    <body>
        <h2>Enter an equation</h2>
        <a href="/">Go Back</a><br><br>
        <form action="processEquation" method="POST">
            <label>Equation:</label><br>
            <input type="text" name="val"/><br>
            <label>Root:</label><br>
            <input type="number" name="root" step="any"/><br>
            <input type="submit" value="Submit"/>
        </form>
    </body>
</html>